body{
    background-color: darkgrey;
}
menu{
    align-items: center;
    text-align: center;
  background-color: rgb(129, 129, 131);
}
#container{
    block-size: auto;
    margin: auto;
    align-items: center;
    width:600px;
    height: 800px;
    background-color: rgb(127, 126, 128);
    border-radius: 2%;
    border: 10px solid rgb(112, 111, 124);
    border-style:groove;
    text-align: center;
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
 a h1{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-display: auto;
}

p{
    font-size : 25px;
}