@import url('https://fonts.googleapis.com/css2? family= Krona+One & família= Montserrat:wght@400;600 & display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-preta: #000000;
    --cor-secundaria: #615d5d;
    --fonte-krona: 'Krona One', sans-serif;
    --fonte-montserrat: 'Montserrat',sans-serif ;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-preta);
    color: var(--cor-secundaria);
    padding: 0 20% 0 20%;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.menu_texto{
    text-align:center;
    font-size: 50px;
    font-family: var(--fonte-krona);


}

.container{
    padding: 4.3% 10%;
    display: flex;
    flex-direction: column;
    width: 73%;
    background-color: var(--cor-secundaria);
    border-radius: 2%;
    border: 10px solid rgb(112, 111, 124);
    
    align-items: center;
    
    
}

.continer__conteudo{
    width: 50%;
    display: flex;
   justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 10%;
}

    
.container_texto{
    
    text-align: center;
    font-family: var(--fonte-krona);
    font-size: 48px;
    color: var(--cor-preta);
}


.borda_imagem{
    border: 5px solid rgb(66, 65, 81);
    border-style:groove;
    border-radius: 5%;
    width: 25rem ;
    height: 15rem;
}



.rodape{
    color: var(--cor-primaria);
    background-color:var(--cor-preta);
    padding: 18px;
    text-align: center;
    font-family:var(--fonte-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}


@media only screen and ( max-width: 750px){

    body{
        box-sizing: border-box;
        background-color: var(--cor-preta);
        color: var(--cor-secundaria);
        padding: 0 10% 0 10%;
    }
    .menu{
        padding: 10%;
    }
    
    .continer{
        flex-direction:column;
        padding: 2%;
    }
    .menu_texto{
        text-align:center;
        font-size: 35px;
        font-weight: 400;
    }
    .continer__conteudo{
    
        display: flex;
        flex-direction: column;
       
    }
    .container_texto{
        font-weight: 50;
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        color: var(--cor-preta);
    }
    
    .borda_imagem{
    
       display: flex;
       flex-direction: column;
    }
    .borda_imagem{
        border: 5px solid rgb(66, 65, 81);
        border-style:groove;
        border-radius: 5%;
        width: 15rem;
        height: 7rem;
        
    }
    .rodape{
        font-size: 20px;
    }
}